body{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
     color: #ff9999;
}

body:hover a {
    background-color: grey;
    color: white;
    border: 1px dotted blue;
}

h1{
    color: #ff9999;
    margin: auto;
    padding: 25px;
}

a{
    color: #ff9999;
    text-decoration: none;
    text-align: right;
    margin-left: 82%;
    padding: 8px;
    width: 180px;
    border: 1px solid #ff9999;
    border-radius: 3px;

}

a:hover{
    color: red;
}

img{
    display: block;
    margin: auto;
}

p{
    line-height: 1.6;
    margin: auto;
    padding: 20px;
    width: 55%;
    height: 200px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    color: #ff9999;
    margin-top: auto;
}

button{
    background-color: transparent;
    border: none;
    color: #ff9999;
    cursor: pointer;
    font-size: 1em;
}

@media (max-width: 400px) {
    body {
        background-color: white;
         
    }
    img {
            width: 70%;
              height: auto;
    }

        
    a  {
        margin-left: 30%;
    }
    p{
        width: 100%;
        height: auto;
        font-size: 1.3em;
    }
}